body {
  background-color: rgb(26, 95, 96, .3);
  background-image: url(http://www.transparenttextures.com/patterns/arches.png);
  font-family: 'Raleway', sans-serif;
  color: rgb(11, 38, 45);
  margin: 5%
}

h3 {
  font-size: 22px;
}

section {
  display: flex;
  font-size: 16px;
  text-indent: 20px;
}

img {
  padding: 20px;
  width: 200 px;
  height: 200px;
}

button {
  background-color: rgb(26, 95, 96);
  font-size: 15px;
  font-family: 'Raleway', sans-serif;
  border: 1px solid rgb(26, 95, 96)
}

button:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
